{% extends "base.html" %}
{% load static %}
{% block content %}    
            <!-- header -->
            <!-- page-header -->
            <div class="page-title-wrap typo-white">
                <div class="page-title-wrap-inner section-bg-img" data-bg="{% static 'images/1.jpg' %}">
					<span class="theme-overlay"></span>
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <div class="page-title-inner">
									<div id="breadcrumb" class="breadcrumb margin-bottom-10">
                                        <a href="index.html" class="theme-color">Home</a>
                                        <span class="current">About Us</span>
                                    </div>
                                    <h1 class="page-title mb-0">About Us</h1>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page-header -->
            <!-- Page Content -->
            <div class="content-wrapper pad-none">
                <div class="content-inner">
                    <!-- About Section -->
                    <section id="team-section" class="team-section pad-top-120">
						<div class="container">
							<!-- Row -->
							<div class="row">
								<div class="offset-md-2 col-md-8">
									<div class="title-wrap text-center">
										<div class="section-title">
											<span class="sub-title theme-color text-uppercase">Our Team</span>
											<h2 class="section-title margin-top-5">Church Pastors</h2>
											<span class="border-bottom center"></span>
										</div>
									</div>
								</div>
								<!--Team Main Slider-->
								<div class="owl-carousel team-main-wrapper" data-loop="1" data-nav="0" data-dots="1" data-autoplay="1" data-autoplaypause="1" data-autoplaytime="5000" data-smartspeed="1000" data-margin="30" data-items="4" data-items-tab="2" data-items-mob="1">
									<!--Item-->
									<div class="item">
										<div class="team-style-1">
											<!--Team Inner-->										
											<div class="team-inner box-shadow margin-bottom-20">												
												<div class="team-thumb mb-0 relative">
													<img src="{% static 'images/f2.jpg' %}" class="img-fluid thumb w-100" width="480" height="485" alt="team-img" />														
												</div>												
												<div class="team-details bg-white text-center pad-lr-30 pad-top-30 pad-bottom-20">
													<div class="team-name">
														<h3 class="mb-0"><a href="#" class="client-name">sdbchshcgs</a></h3>
													</div>
													<div class="team-designation mb-3"><p class="mb-0">sbdvgdatsdg</p></div>
													<div class="team-social social-icons">
														<a href="#"><span class="ti-facebook"></span></a>
														<a href="#"><span class="ti-twitter"></span></a>					
														<a href="#"><span class="ti-instagram"></span></a>	
														<a href="#"><span class="ti-linkedin"></span></a>
													</div>
												</div>
											</div>
											<!--Team Inner Ends-->
										</div>
									</div>
									<!--Item Ends-->
									<!--Item-->
									<div class="item">
										<div class="team-style-1">
											<!--Team Inner-->										
											<div class="team-inner box-shadow margin-bottom-20">												
												<div class="team-thumb mb-0 relative">
													<img src="{% static 'images/f2.jpg' %}" class="img-fluid thumb w-100" width="480" height="485" alt="team-img" />
												</div>												
												<div class="team-details bg-white text-center pad-lr-30 pad-top-30 pad-bottom-20">
													<div class="team-name">
														<h3 class="mb-0"><a href="#" class="client-name">bndcdhfcbs</a></h3>
													</div>
													<div class="team-designation mb-3"><p class="mb-0">hgdcscse</p></div>
													<div class="team-social social-icons">
														<a href="#"><span class="ti-facebook"></span></a>
														<a href="#"><span class="ti-twitter"></span></a>					
														<a href="#"><span class="ti-instagram"></span></a>	
														<a href="#"><span class="ti-linkedin"></span></a>
													</div>
												</div>
											</div>
											<!--Team Inner Ends-->
										</div>
									</div>
									<!--Item Ends-->
									<!--Item-->
									<div class="item">
										<div class="team-style-1">
											<!--Team Inner-->										
											<div class="team-inner box-shadow margin-bottom-20">												
												<div class="team-thumb mb-0 relative">
													<img src="{% static 'images/f3.jpg' %}" class="img-fluid thumb w-100" width="480" height="485" alt="team-img" />	
												</div>												
												<div class="team-details bg-white text-center pad-lr-30 pad-top-30 pad-bottom-20">
													<div class="team-name">
														<h3 class="mb-0"><a href="#" class="client-name">hsdcgses</a></h3>
													</div>
													<div class="team-designation mb-3"><p class="mb-0">sbdvsghcshsew</p></div>
													<div class="team-social social-icons">
														<a href="#"><span class="ti-facebook"></span></a>
														<a href="#"><span class="ti-twitter"></span></a>					
														<a href="#"><span class="ti-instagram"></span></a>	
														<a href="#"><span class="ti-linkedin"></span></a>
													</div>
												</div>
											</div>
											<!--Team Inner Ends-->
										</div>
									</div>
									<!--Item Ends-->
									<!--Item-->
									
									<!--Item Ends-->
								</div>
								<!--Team Owl Slider-->
							</div>
							<!-- Row -->
						</div>
						<!-- Container -->
					</section>
                    <!-- About Section End -->
					<!-- Get a Quote Section -->
                    
                    <!-- Get a Quote Section End -->
                    <!-- Team Section -->
					
					<!-- Team Section End -->				
                </div>
            </div>
        </div>
        <!-- .page-wrapper-inner -->
    </div>
    <!--page-wrapper-->    

    <!-- Footer -->
    <!-- Footer -->
    {% endblock %}