{% extends "base.html" %}
{% load static %}
{% block content %} 
            <!-- header -->
            <!-- page-header -->
            <div class="page-title-wrap typo-white">
                <div class="page-title-wrap-inner section-bg-img" data-bg="{% static 'images/1.jpg' %}">
					<span class="theme-overlay"></span>
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <div class="page-title-inner">
									<div id="breadcrumb" class="breadcrumb margin-bottom-10">
                                        <a href="index.html" class="theme-color">Home</a>
                                        <span class="current">Events</span>
                                    </div>
                                    <h1 class="page-title mb-0">Events</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page-header -->
            <!-- Page Content -->
            <div class="content-wrapper pad-none">
                <div class="content-inner">
                    <!-- Events Section -->
                    <section id="events-section" class="events-section pad-top-120 pad-bottom-70">
                        <!-- Screan Reader Text -->
                        <h2 class="screen-reader-text">Events</h2>
                        <div class="container">
                            <!-- Row -->
                            <div class="row">
                                <!-- Col -->
                                <div class="col-md-12">
                                    <!--events Main wrap-->
                                    <div class="events-main-wrapper events-grid events-style-2">
                                        <div class="row">

                                            <!-- Col-md -->
                                            <div class="col-lg-4 col-md-6">
                                                <!--events Inner-->
                                                <div class="events-inner margin-bottom-30">
                                                    <!--events Thumb-->
													<div class="events-thumb mb-0 relative">
														<img src="{% static 'images/x1.jpg' %}" class="img-fluid thumb w-100" width="768" height="650" alt="events-img" />
													</div>
                                                    <!--events details-->
                                                    <div class="events-details pad-lr-30 pad-bottom-35">
														<div class="event-date margin-bottom-30">Dec 18<span class="event-time">8.00 am</span>
														</div>
                                                        <div class="event-title mb-3">
															<h5><a href="event-details.html">Our Sponsorship Meetup Will Be Held Again</a></h5>
														</div>
														<div class="read-more">
															<a href="event-details.html">Event Details</a>
														</div>                                                        
                                                    </div>
                                                    <!--events details-->
                                                </div>
                                                <!--events Inner Ends-->
                                            </div>
                                            <!--Col-md Ends-->

                                            <!-- Col-md -->
                                            <div class="col-lg-4 col-md-6">
                                                <!--events Inner-->
                                                <div class="events-inner margin-bottom-30">
                                                    <!--events Thumb-->
													<div class="events-thumb mb-0 relative">
														<img src="{% static 'images/new.jpg' %}" class="img-fluid thumb w-100" width="768" height="650" alt="events-img" />
													</div>
                                                    <!--events details-->
                                                    <div class="events-details pad-lr-30 pad-bottom-35">
														<div class="event-date margin-bottom-30">Mar 3<span class="event-time">7.00 am</span>
														</div>
                                                        <div class="event-title mb-3">
															<h5><a href="event-details.html">Event: Reflect The Community And Serving</a></h5>
														</div>
														<div class="read-more">
															<a href="event-details.html">Event Details</a>
														</div>                                                        
                                                    </div>
                                                    <!--events details-->
                                                </div>
                                                <!--events Inner Ends-->
                                            </div>
                                            <!--Col-md Ends-->

                                            <!-- Col-md -->
                                            <div class="col-lg-4 col-md-6">
                                                <!--events Inner-->
                                                <div class="events-inner margin-bottom-30">
                                                    <!--events Thumb-->
													<div class="events-thumb mb-0 relative">
														<img src="{% static 'images/x2.jpg' %}" class="img-fluid thumb w-100" width="768" height="650" alt="events-img" />
													</div>
                                                    <!--events details-->
                                                    <div class="events-details pad-lr-30 pad-bottom-35">
														<div class="event-date margin-bottom-30">Apr 10<span class="event-time">6.00 am</span>
														</div>
                                                        <div class="event-title mb-3">
															<h5><a href="event-details.html">New Families During National Adoption Month</a></h5>
														</div>
														<div class="read-more">
															<a href="event-details.html">Event Details</a>
														</div>                                                        
                                                    </div>
                                                    <!--events details-->
                                                </div>
                                                <!--events Inner Ends-->
                                            </div>
                                            <!--Col-md Ends-->

                                            <!-- Col-md -->
                                            
                                            <!--Col-md Ends-->

                                            <!-- Col-md -->
                                            
                                            <!--Col-md Ends-->                                                                                     

                                        </div>
                                        <!-- events Row -->
                                    </div>
                                    <!-- events Main wrap Ends -->
                                </div>
                                <!-- Col -->
                            </div>
                            <!-- Row -->
                        </div>
                    </section>
                    <!-- events Section Ends -->
                </div>
            </div>
        </div>
        <!-- .page-wrapper-inner -->
    </div>
    <!--page-wrapper-->    

    {% endblock %}