{% extends "base.html" %}
{% load static %}
{% block content %} 
            <!-- header -->
            <!-- page-header -->
            <div class="page-title-wrap typo-white">
                <div class="page-title-wrap-inner section-bg-img" data-bg="{% static 'images/1.jpg' %}">
					<span class="theme-overlay"></span>
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <div class="page-title-inner">
									<div id="breadcrumb" class="breadcrumb margin-bottom-10">
                                        <a href="index.html" class="theme-color">Home</a>
                                        <span class="current">Gallery</span>
                                    </div>
                                    <h1 class="page-title mb-0">Gallery</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page-header -->
            <!-- Page Content -->
            <div class="content-wrapper pad-none">
                <div class="content-inner">
					<!-- Portfolio Section -->
                    <section class="portfolio-section pad-top-120 pad-bottom-70">
                        <div class="container">
                            <div class="row">
								<!-- Col -->
                                <div class="col-md-12">
                                    <div class="portfolio-wrap portfolio-default popup-gallery">
                                        <div class="isotope-grid" data-gutter="30" data-cols="3">
                                            <!-- .portfolio-item -->
                                            <div class="isotope-item">
												<div class="portfolio-item portfolio-overlay-wrap">
													<!-- .portfolio-thumb -->
													<div class="portfolio-thumb relative b-radius-6 o-hide">
														<img src="{% static 'images/11.jpg' %}" class="img-fluid" width="700" height="466" alt="" title="Invest Advices" />
														<!-- .portfolio-wrap -->
														<div class="portfolio-wrap">
															<div class="portfolio-details-overlay">
																<div class="portfolio-icons">
																    <a href="{% static 'images/11.jpg' %}" class="popup-img" title="Gallery 1">
																        <i class="ti-zoom-in"></i>
																    </a>
																</div>
															</div>
														</div>
														<!-- .portfolio-wrap -->
													</div>
													<!-- .portfolio-thumb -->													
												</div>												
                                            </div>
                                            <!-- .portfolio-item end-->
                                            <!-- .portfolio-item -->
                                            <div class="isotope-item">
												<div class="portfolio-item portfolio-overlay-wrap">
													<!-- .portfolio-thumb -->
													<div class="portfolio-thumb relative b-radius-6 o-hide">
														<img src="{% static 'images/7.jpg' %}" class="img-fluid" width="700" height="466" alt="" title="Invest Advices" />
														<!-- .portfolio-wrap -->
														<div class="portfolio-wrap">
															<div class="portfolio-details-overlay">
																<div class="portfolio-icons">
																    <a href="{% static 'images/7.jpg' %}" class="popup-img" title="Gallery 2">
																        <i class="ti-zoom-in"></i>
																    </a>
																</div>
															</div>
														</div>
														<!-- .portfolio-wrap -->
													</div>
													<!-- .portfolio-thumb -->													
												</div>
                                            </div>
                                            <!-- .portfolio-item end-->
                                            <!-- .portfolio-item -->
                                            <div class="isotope-item">
												<div class="portfolio-item portfolio-overlay-wrap">
													<!-- .portfolio-thumb -->
													<div class="portfolio-thumb relative b-radius-6 o-hide">
														<img src="{% static 'images/8.jpg' %}" class="img-fluid" width="700" height="466" alt="" title="Invest Advices" />
														<!-- .portfolio-wrap -->
														<div class="portfolio-wrap">
															<div class="portfolio-details-overlay">
																<div class="portfolio-icons">
																    <a href="{% static 'images/8.jpg' %}" class="popup-img" title="Gallery 3">
																        <i class="ti-zoom-in"></i>
																    </a>
																</div>
															</div>
														</div>
														<!-- .portfolio-wrap -->
													</div>
													<!-- .portfolio-thumb -->													
												</div>
                                            </div>
                                            <!-- .portfolio-item end-->
                                            <!-- .portfolio-item -->
                                            <div class="isotope-item">
												<div class="portfolio-item portfolio-overlay-wrap">
													<!-- .portfolio-thumb -->
													<div class="portfolio-thumb relative b-radius-6 o-hide">
														<img src="{% static 'images/16.jpg' %}" class="img-fluid" width="700" height="466" alt="" title="Invest Advices" />
														<!-- .portfolio-wrap -->
														<div class="portfolio-wrap">
															<div class="portfolio-details-overlay">
																<div class="portfolio-icons">
																    <a href="{% static 'images/16.jpg' %}" class="popup-img" title="Gallery 4">
																        <i class="ti-zoom-in"></i>
																    </a>
																</div>
															</div>
														</div>
														<!-- .portfolio-wrap -->
													</div>
													<!-- .portfolio-thumb -->													
												</div>
                                            </div>
                                            <!-- .portfolio-item end-->
                                            <!-- .portfolio-item -->
                                            <div class="isotope-item">
												<div class="portfolio-item portfolio-overlay-wrap">
													<!-- .portfolio-thumb -->
													<div class="portfolio-thumb relative b-radius-6 o-hide">
														<img src="{% static 'images/9.jpg' %}" class="img-fluid" width="700" height="466" alt="" title="Invest Advices" />
														<!-- .portfolio-wrap -->
														<div class="portfolio-wrap">
															<div class="portfolio-details-overlay">
																<div class="portfolio-icons">
																    <a href="{% static 'images/9.jpg' %}" class="popup-img" title="Gallery 5">
																        <i class="ti-zoom-in"></i>
																    </a>
																</div>
															</div>
														</div>
														<!-- .portfolio-wrap -->
													</div>
													<!-- .portfolio-thumb -->													
												</div>
                                            </div>
                                            <!-- .portfolio-item end-->
                                            <!-- .portfolio-item -->
                                            <div class="isotope-item">
												<div class="portfolio-item portfolio-overlay-wrap">
													<!-- .portfolio-thumb -->
													<div class="portfolio-thumb relative b-radius-6 o-hide">
														<img src="{% static 'images/7.jpg' %}" class="img-fluid" width="700" height="466" alt="" title="Invest Advices" />
														<!-- .portfolio-wrap -->
														<div class="portfolio-wrap">
															<div class="portfolio-details-overlay">
																<div class="portfolio-icons">
																    <a href="{% static 'images/7.jpg' %}" class="popup-img" title="Gallery 6">
																        <i class="ti-zoom-in"></i>
																    </a>
																</div>
															</div>
														</div>
														<!-- .portfolio-wrap -->
													</div>
													<!-- .portfolio-thumb -->													
												</div>
                                            </div>
                                            <!-- .portfolio-item end-->
											<!-- .portfolio-item -->
                                           
                                            
                                            <!-- .portfolio-item end-->
                                        </div>
                                        <!-- .isotope-grid -->                                    	
                                    </div>
                                    <!-- .portfolio-wrap -->
                                </div>
                                <!-- col -->
                            </div>
                            <!-- row -->
                        </div>
                        <!-- .container -->
                    </section>
                    <!-- Portfolio Section End -->                    
                </div>
            </div>
        </div>
        <!-- .page-wrapper-inner -->
    </div>
    <!--page-wrapper-->

    {% endblock %}